@mixin flex-dir-justify-align($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: "Rubik", sans-serif;
}

.navbar {
    @include flex-dir-justify-align(row, space-between, center);
    padding: 2rem 3rem;
    border-bottom: 0.1rem solid rgb(209, 209, 209);
    // box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;

    .logo {
        @include flex-dir-justify-align(row, center, center);

        a {
            @include flex-dir-justify-align(row, center, center);
            text-decoration: none;
            color: rgb(0, 0, 0);
            font-size: 1.6rem;
            font-weight: 500;

            img {
                width: 3rem;
                margin: 1rem;
            }
        }
    }

    .menu {
        ul {
            @include flex-dir-justify-align(row, space-between, center);
            height: 3rem;
            list-style: none;

            li {
                a {
                    font-size: 1.2rem;
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    margin: 0.5rem 2rem;
                    padding: 1rem 2rem;
                    border-radius: 0.5rem;
                }
            }
        }

        @media (max-width: 520px) {
            ul {
                li {
                    a {
                        margin: 0.5rem;
                        padding: 1rem;
                    }
                }
            }
        }
    }
}

main {
    padding: 0 2rem;
}

.notes {
    @include flex-dir-justify-align(row, space-between, center);
    flex-wrap: wrap;
    margin-top: 4rem;

    @media (max-width: 520px) {
        margin-top: 2rem;
    }

    .note-item {
        width: 20rem;
        height: 8rem; // have to remove
        padding: 2rem;
        margin: 1rem;
        border-radius: 0.3rem;
        border: 0.1rem solid rgb(209, 209, 209);
        cursor: pointer;

        @media (max-width: 520px) {
            width: fit-content;
        }

        .title {
            font-size: 2.4rem;
            font-weight: 600;
            color: #4d4d4d;

            @media (max-width: 520px) {
                font-size: 2rem;
                padding-bottom: 0.2rem;
            }
        }

        .description {
            font-size: 1.3rem;
            font-weight: 500;
            color: #636363;

            @media (max-width: 520px) {
                font-size: 1.2rem;
            }
        }

        &:nth-child(2) {
            border-bottom: 0.3rem solid rgba(255, 122, 122, 0.5);

            &:hover {
                border-bottom: 0.3rem solid rgba(255, 122, 122);
            }
        }

        &:nth-child(1) {
            border-bottom: 0.3rem solid rgba(255, 122, 255, 0.5);

            &:hover {
                border-bottom: 0.3rem solid rgb(255, 122, 255);
            }
        }

        &:nth-child(3) {
            border-bottom: 0.3rem solid rgba(122, 255, 122, 0.5);

            &:hover {
                border-bottom: 0.3rem solid rgb(122, 255, 122);
            }
        }

        &:nth-child(4) {
            border-bottom: 0.3rem solid rgba(122, 122, 255, 0.5);

            &:hover {
                border-bottom: 0.3rem solid rgb(122, 122, 255);
            }
        }
    }
}

.second-section {
    @include flex-dir-justify-align(row, space-evenly, center);
    flex-wrap: wrap;
    width: 100%;
    margin-top: 4rem;

    .second-section-item {
        width: max(40rem, 47%);
        height: 40rem; // have to remove
        margin: 1rem;
        border-radius: 0.3rem;
        border: 0.1rem solid rgb(209, 209, 209);
        cursor: pointer;

    }

    .news-section {
        .header {
            @include flex-dir-justify-align(row, space-between, center);
            padding: 0 1rem;
            height: 20%;

            .topic {
                font-size: 2rem;
                font-weight: 600;
                color: #4d4d4d;
            }

            .search {
                select {
                    width: 200px;
                    padding: 8px;
                    font-size: 16px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    background-color: #fff;
                    cursor: pointer;
                    max-height: 10rem;
                    overflow-y: auto;
                }
            }
        }

        .news-list {
            height: 80%;
            margin: 0 1rem;
            overflow: auto;

            .list-item {
                @include flex-dir-justify-align(column, unset, unset);
                background-color: aliceblue;
                margin: 0.8rem 0;
                font-size: 1.3rem;
                padding: 1rem 0.5rem;
                border-radius: 1rem;
                text-decoration: none;
                color: #4d4d4d;
                width: 97%;


                .heading {
                    @include flex-dir-justify-align(row, space-between, center);
                    padding: 0.5rem;
                }

                .news-title {
                    width: 100%;
                    padding: 0.5rem;
                    font-weight: 600;
                }

                .base-line {
                    @include flex-dir-justify-align(row, space-between, center);
                    padding: 0.5rem;
                }
            }
        }
    }

    .year-chart {
        .header {
            @include flex-dir-justify-align(row, space-between, center);
            padding: 2rem;

            .year {
                font-size: 2.4rem;
                font-weight: 600;
                color: #4d4d4d;

                span {
                    font-size: 2rem;
                }
            }
        }
    }

    
    .chart-container {
        width: 100%;
        height: 300px;
        
        @media (max-width: 520px) {
            width: 30rem;
        }
    }
    
    @media (max-width: 520px) {
        .year-chart {
            width: max(40rem, 47%);
            height: fit-content;

            .chart-container {
                width: 100%;
                height: fit-content;
                @include flex-dir-justify-align(row, center, center);
                padding-bottom: 2rem;
            }
        }
    }
}

.third-section {
    @include flex-dir-justify-align(row, space-evenly, center);
    flex-wrap: wrap;
    width: 100%;
    margin-top: 4rem;

    .third-section-item {
        margin: 1rem;
        border-radius: 0.3rem;
        border: 0.1rem solid rgb(209, 209, 209);
        cursor: pointer;
    }

    .country-chart,
    .pestle-chart,
    .topic-chart {
        padding: 2rem;

        .header {
            font-size: 2.4rem;
            font-weight: 600;
            color: #4d4d4d;
        }

        .description {
            font-size: 1.3rem;
            font-weight: 500;
            color: #777777;
        }
    }

    .chart-container {
        padding: 1rem 0;
        width: 45rem;
        height: 45rem;

        @media (max-width: 520px) {
            width: 30rem;
            height: 30rem;
        }
    }
}

.fourth-section {
    @include flex-dir-justify-align(row, space-evenly, center);
    flex-wrap: wrap;
    width: 100%;
    margin-top: 2rem;

    .fourth-section-item {
        width: 100%;
        margin: 1rem;
        padding: 0 1rem;
        border-radius: 0.3rem;
        border: 0.1rem solid rgb(209, 209, 209);
        cursor: pointer;

        .header {
            @include flex-dir-justify-align(row, space-between, center);
            height: fit-content;
            padding: 2rem 1rem;
            border-bottom: 0.1rem solid rgb(209, 209, 209);

            .title {
                font-size: 2.6rem;
                font-weight: 600;
                color: #4d4d4d;
            }

            .filters {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: 8px;

                @media (max-width: 920px) {
                    grid-template-columns: repeat(5, 1fr);
                }

                @media (max-width: 768px) {
                    grid-template-columns: repeat(4, 1fr);
                }

                @media (max-width: 520px) {
                    grid-template-columns: repeat(2, 1fr);
                }

                .topic,
                .sector,
                .country,
                .region,
                .endyear,
                .startyear,
                .pestle {
                    width: 10rem;
                    height: fit-content;
                    padding: 0.5rem 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 0.2rem;

                    select {
                        width: 200px;
                        padding: 8px;
                        font-size: 16px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        background-color: #fff;
                        cursor: pointer;
                        max-height: 10rem;
                        overflow-y: auto;
                    }
                }

                button {
                    background-color: #ffffff;
                    border: 1px solid rgb(209, 213, 219);
                    border-radius: 0.5rem;
                    box-sizing: border-box;
                    color: #111827;
                    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system,
                        system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
                        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
                        "Noto Color Emoji";
                    font-size: 0.875rem;
                    font-weight: 600;
                    text-align: center;
                    text-decoration: none #d1d5db solid;
                    text-decoration-thickness: auto;
                    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
                    cursor: pointer;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;

                    &:hover {
                        background-color: rgb(249, 250, 251);
                    }

                    &:focus {
                        outline: 2px solid transparent;
                        outline-offset: 2px;
                    }

                    &:focus-visible {
                        box-shadow: none;
                    }
                }
            }
        }

        .news-list {
            margin: 0 1rem;

            .list-item {
                @include flex-dir-justify-align(column, unset, unset);
                background-color: aliceblue;
                margin: 0.8rem 0;
                font-size: 1.3rem;
                padding: 1rem 0.5rem;
                border-radius: 1rem;
                text-decoration: none;
                color: #4d4d4d;


                .heading {
                    @include flex-dir-justify-align(row, space-between, center);
                    padding: 0.5rem;
                }

                .news-title {
                    width: 100%;
                    padding: 0.5rem;
                    font-weight: 600;
                }

                .base-line {
                    @include flex-dir-justify-align(row, space-between, center);
                    padding: 0.5rem;
                }
            }
        }
    }
}


.star {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    /* Adjust margin as needed */
    margin-right: 5px;
    /* Adjust margin as needed */
    margin-bottom: 7px;
    /* Adjust margin as needed */
    border-right: 2.5px solid transparent;
    /* Adjust border thickness */
    border-bottom: 5px solid #FC0;
    /* Adjust border thickness and color */
    border-left: 2.5px solid transparent;
    /* Adjust border thickness */
    font-size: 25px;
    /* Adjust font size */
}

.star:before,
.star:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 3px;
    /* Adjust top position */
    left: -7.5px;
    /* Adjust left position */
    border-right: 7.5px solid transparent;
    /* Adjust border thickness */
    border-bottom: 5px solid #FC0;
    /* Adjust border thickness and color */
    border-left: 7.5px solid transparent;
    /* Adjust border thickness */
    transform: rotate(-35deg);
}

.star:after {
    transform: rotate(35deg);
}